
@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);


 



html{overflow:hidden; }
a{text-decoration:none;}
span{ font-family:'NanumSquare', sans-serif; text-decoration:none;}
div{ font-family:'NanumSquare', sans-serif; text-decoration:none; }
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; border:0; letter-spacing:0; text-decoration:none; word-break: keep-all; transform:rotate(-0.007deg); }
div{font-family:'NanumSquare', sans-serif;  }
span{font-family:'NanumSquare', sans-serif; }
body{ overflow:auto; height:100%; text-decoration:none;}
html{height:100%;text-decoration:none; }
ol, ul {
	display: inline-block;   list-style: none;  text-decoration:none;
}

body{width:100%; height:100%;position:relative;}

img{ transform:rotate(0.007deg); }





#main_1{width:100%; max-width:760px; margin:0px auto;background-color:#f6f6f6; padding-bottom:60px;}

.page_top_1{width:100%; height:160px;  background-size:cover; background-position:50% 50%; position:relative; z-index:1; padding-top:20px;}

#page_top_1-d{
	background-image:url(../images/bg_img2.png);	
}
#page_top_1-i{
	background-image:url(../images/bg_img.png);	
}
#page_top_1-s{
	background-image:url(../images/bg_img3.png);	
}
#page_top_1-c{
	background-image:url(../images/bg_img4.png);	
}

.page_cont_1{width:90%; margin:0px auto; border-radius:20px; margin-top:-80px;position:relative; z-index:2; overflow:hidden; box-shadow:0px 5px 10px rgba(0,0,0,0.3);}


#page_cont_1-d{background-color:#f3f2f2;}
#page_cont_1-s{background-color:#f5fdf3;}
#page_cont_1-i{background-color:#fff2ee;}
#page_cont_1-c{background-color:#eff5ff;}



#page_cont_1_0{width:100%; text-align:center; background-color:#fff;  padding-top:50px; padding-bottom:30px;}
#page_cont_1_1{width:100%; max-width:700px; margin:0px auto; position:relative; z-index:3; background-color:#fff;}


#page_cont_1_0 p{width:10%; max-width:50px; display:inline-block;}

#page_cont_1_1_wardp{width:90%; margin:0px auto; }
#page_cont_1_1 ul{width:100%;}
#page_cont_1_1 ul li:nth-child(1){width:46%;display:inline-block;  vertical-align:middle; margin-left:-3px;}
#page_cont_1_1 ul li:nth-child(2){width:8%;display:inline-block; vertical-align:middle;margin-left:-3px;}
#page_cont_1_1 ul li:nth-child(3){width:46%;display:inline-block; vertical-align:middle;margin-left:-3px;}

#page_cont_1_1 ul li:nth-child(1) p:nth-child(1){width:70%; margin:0px auto;}
#page_cont_1_1 ul li:nth-child(1) p:nth-child(2){width:90%; margin:0px auto; padding-top:10px;}

#page_cont_1_1 ul li:nth-child(2) p{width:80%; max-width:30px; margin:0px auto; padding-top:40px;}
#page_cont_1_1 ul li:nth-child(3) p:nth-child(1){width:70%; margin:0px auto;}
#page_cont_1_1 ul li:nth-child(3) p:nth-child(2){width:90%; margin:0px auto; padding-top:10px;}


#page_cont_1_2{width:100%; clear:both;  position:relative;z-index:2;}
.page_cont_1_3{width:80%; margin:0px auto;  border-radius:15px; height:auto; margin-top:-70px; position:relative;z-index:3; padding:15px; box-sizing:border-box; padding-bottom:20px;}







.page_cont_1_3_1{font-size:1.15em; font-weight:500; letter-spacing:-1px; line-height:1.5em;}
.page_cont_1_3_1 span{font-weight:600;}
.page_cont_1_3_2{font-size:1.06em; font-weight:500;}
.page_cont_1_3_2 span{font-weight:600;}


.page_cont_1_3_3{width:100%; padding-top:10px;}
.page_cont_1_3_3 p{width:auto; font-size:0.8em; color:#fff; display:inline-block; margin-right:3px; padding:4px 7px; border-radius:15px;  background-size:cover; background-position:50% 50%; line-height:1em; font-weight:600; margin-bottom:7px;}

.page_cont_1_3_4{width:100%; padding-top:5px;}
.page_cont_1_3_4 p{width:auto; font-size:0.8em; color:#fff; display:inline-block; margin-right:3px; padding:4px 7px; border-radius:15px;  background-size:cover; background-position:50% 50%; line-height:1em; font-weight:500; }

#pagelinulr_d{background-image:url(../images/background-gra3.png);}
#pagelinulr_i{background-image:url(../images/background-gra.png);}
#pagelinulr_s{background-image:url(../images/background-gra2.png);}
#pagelinulr_c{background-image:url(../images/background-gra4.png);}

#page_cont_2_url_d{background-image:url(../images/background-gra3.png);}
#page_cont_2_url_i{background-image:url(../images/background-gra.png);}
#page_cont_2_url_s{background-image:url(../images/background-gra2.png);}
#page_cont_2_url_c{background-image:url(../images/background-gra4.png);}


#page_cont_1_4{width:80%; margin:0px auto; padding-top:40px; padding-bottom:40px;}
.page_cont_1_4_1{ font-size:1.4em; padding-bottom:10px; font-weight:600;}
.page_cont_1_4_2{font-size:1.1em; color:#535353; font-weight:600; text-indent:-10px; padding-left:20px; line-height:1.5em; padding-bottom:20px; }


.page_cont_1_4_3{color:#545454;font-weight:600; font-size:1.4em; padding-bottom:10px; font-weight:600;}
.page_cont_1_4_4{font-size:1.1em; color:#535353; font-weight:600; font-weight:600;text-indent:-10px; padding-left:20px; line-height:1.5em; padding-bottom:20px; }
.page_cont_1_4_4 span{color:#545454;}


.page_cont_1_5{width:80%; font-weight:600;margin:0px auto; padding:20px; box-sizing:border-box;   border-radius:15px;}

#page_cont_1_5-d{background-color:#d5d5d6;}
#page_cont_1_5-i{background-color:#ffe0dd;}
#page_cont_1_5-s{background-color:#d9ebd6;}
#page_cont_1_5-c{background-color:#cad4ef;}



#page_cont_1_6{width:80%;font-weight:600; margin:0px auto; padding-top:30px; padding-bottom:30px;}
#page_cont_1_6_1{width:47%; margin-right:3%; border:2px solid rgba(0,0,0,0.2); background-color:#fff; text-align:center; padding-top:7px; padding-bottom:7px;  font-size:1em; font-weight:400; border-radius:8px; box-sizing:border-box; display:inline-block; float:left; font-weight:600;}



#page_cont_1_6_2{width:47%; margin-left:3%; border:2px solid rgba(0,0,0,0.2); background-color:#fff; text-align:center; padding-top:7px; padding-bottom:7px;  font-size:1em; font-weight:400; border-radius:8px; box-sizing:border-box;display:inline-block; float:left; font-weight:600;}


.page_cont_2{width:80%; max-width:260px; margin:0px auto; background-size:cover; background-position:50% 50%;font-weight:600; font-size:1.3em; color:#fff; height:60px; border-radius:40px; text-align:center; line-height:55px; margin-top:50px; }



#page_cont_1_0_1{width:90%; margin:0px auto; font-size:1.3em; color:#fff; font-weight:600; padding-left:40px; background-image:url(../images/ico_back.png); background-size:25px auto; background-position:0% 50%; background-repeat:no-repeat; box-sizing:border-box; cursor:pointer;}





#page_cont_1-w{width:90%; margin:0px auto; background-color:#fff; border-radius:20px; margin-top:-80px;position:relative; z-index:2; overflow:hidden; box-shadow:0px 5px 10px rgba(0,0,0,0.3);}
#page_cont_1-w2{width:90%; margin:0px auto; background-color:#fff; border-radius:20px; position:relative; z-index:2; overflow:hidden; box-shadow:0px 5px 10px rgba(0,0,0,0.3); margin-top:30px;}

#page_cont_1-w .imgg{width:95%; margin:0px auto; padding-top:30px; padding-bottom:10px;}
#cont_text_1{width:100%; padding:30px 25px; box-sizing:border-box; font-size:1.1em; line-height:1.5em; font-weight:600; }

#cont_text_1 .stre{font-weight:600;}
#cont_text_1 .greend{font-weight:600; color:#1eaf00;}

#page_cont_1-w .imgg_text{width:30%; max-width:300px; margin:0px auto;}

#page_cont_1-w .imgg_text ul{width:100%;}
#page_cont_1-w .imgg_text ul li{width:33.3%; display:inline-block; float:left;}

#page_cont_1-w .imgg_text ul li p{width:100%; max-width:117px; margin:0px auto;}

.imgg_text2{font-size:1.3em; color:#000; font-weight:600; text-align:center;padding-top:20px; padding-bottom:40px;}


.color_red{color:#ff056a;}
.color_green{color:#1faf00;}
.color_black{color:#000;}
.color_blue{color:#457cfd;}

.pesen_90{color:#0a00dd;}
.pesen_3_80{color:#000;}
.pesen_20{color:#e60000;}

.color_i{color:#ff056a;}
.color_s{color:#1faf00;}
.color_d{color:#000;}
.color_c{color:#457cfd;}

#color_i{color:#ff056a;}
#color_s{color:#1faf00;}
#color_d{color:#000;}
#color_c{color:#457cfd;}

#page_cont_1_3-d{	background-color:#dedede;}
#page_cont_1_3-i{	background-color:#ffe0dd;}
#page_cont_1_3-s{	background-color:#e7f6e5;}
#page_cont_1_3-c{	background-color:#dfe8fc;}




#offic_env_1{width:100%; padding:30px 25px; box-sizing:border-box;}
#offic_env_1_1{width:100%;}
#offic_env_1_1 p{ display:inline-block; vertical-align:middle;}
#offic_env_1_1 p:nth-child(1){width:10%; max-width:100px;}
#offic_env_1_1 p:nth-child(2){width:30%; max-width:305px;}


#offic_env_1_2{width:100%; padding-top:30px; padding-bottom:5px;}

#offic_env_1_2 p{text-indent:-1.8em; padding-left:1.8em; font-size:1.3em; font-weight:600; padding-bottom:15px; line-height:1.45em;}

#offic_intro{width:100%; padding:30px 0px; box-sizing:border-box;}
#offic_intro_1{width:100%;}
#offic_intro_1 ul{width:100%;}
#offic_intro_1 ul li{width:50%; display:inline-block; float:left; box-sizing:border-box; text-align:center;}

#offic_intro_1 ul li:nth-child(1){border-right:1px solid rgba(0,0,0,0.1); }

#offic_intro_1 ul li:nth-child(1).lineright1{border-right:0px solid rgba(0,0,0,0.1); }
#offic_intro_1 ul li:nth-child(2).lineright1{border-left:1px solid rgba(0,0,0,0.1); }


#offic_intro_100{width:100%;}
#offic_intro_100 ul{width:100%;}
#offic_intro_100 ul li{width:100%; display:inline-block;  box-sizing:border-box; text-align:center;}

#offic_intro_100 #offic_intro_1_1{width:65%; margin:0px auto;}


#offic_intro_1_1{width:100%;}
#offic_intro_1_1 p{ display:inline-block; vertical-align:middle;}
#offic_intro_1_1 p:nth-child(1){width:15%; max-width:100px;}
#offic_intro_1_1 p:nth-child(2){width:45%; max-width:305px;}

.offic_intro_1_2{width:95%; margin:0px auto;  padding-top:15px;}
.offic_intro_1_2 p{font-size:1.17em; font-weight:600; padding-top:14px;}

.page_cont_1_4_5{font-size:1.1em; line-height:1.4em; padding-bottom:10px;}







